[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
bandit = "*"
flake8 = "*"
mypy = "*"
nose = "*"
pycodestyle = "*"
pydocstyle = "*"
pylama = "*"

[packages]
flask = "*"
Flask-JWT-Extended = "*"
Flask-Migrate = "*"
Flask-SQLAlchemy = "*"
gevent = "*"
marshmallow = "*"
psycopg2-binary = "*"
python-dotenv = "*"
sendgrid = "*"
uWSGI = "*"

[requires]
python_version = "3.8"
